/* Stepper styles */
.stepper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.stepper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

.step {
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  user-select: none;
  position: relative;
}

.step.active {
  background-color: #007bff;
  color: #fff;
}

.step:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0;
  border-color: #ddd transparent transparent transparent;
  transform: translateX(-50%);
}

.step.active:before {
  border-color: #007bff transparent transparent transparent;
}

.step-content {
  width: 80%;
  margin-top: 20px;
}

.step-container {
  width: 100%;
  background: #f9f9f9;
  padding: 30px 10px;
  height: 100%;
}
.step-container .btn {
  margin-right: 10px;
}