.custom-hover {
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .custom-hover:hover {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
  }
.orderCardImgSection {
  display: flex;
  cursor: pointer;
  width: 100%;
  max-width: 20rem;
}  
.orderCardImg{
  flex-shrink: 0; /* prevents image from shrinking to fit */
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-right: 1rem; /* Add some spacing between the image and text */
}

.orderCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.orderCardImgSection .ms-5 {
  flex-grow: 1; /* Allow the text to grow and take the available space */
}

.orderCardImgSection p {
  margin: 0; /* Remove default margins from paragraphs */
}